<?xml version="1.0" encoding="utf-8"?><!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.root.graduation_app">

    <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Android8.0 安装 apk 需要添加权限： -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--<activity android:name=".SplashActivity">-->
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 程序首页 -->
        <!--<activity-->
        <!--android:name=".mvp.activity.MainActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme" />-->

        <!-- 搜索公众号文章的界面 -->
        <activity
            android:name=".ui.activity.SearchPublicHistoryActivity"
            android:screenOrientation="portrait" />

        <!-- 程序的登陆界面 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 用户的注册页面 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <!-- 输入验证码的页面 -->
        <activity
            android:name=".ui.activity.InputVerificationCodeActivity"
            android:screenOrientation="portrait" />

        <!-- 显示豆瓣 top 250电影 -->
        <activity
            android:name=".ui.activity.DoubanMovieTopActivity"
            android:screenOrientation="portrait" />

        <!-- 点击电影也没的详情页，带有共享动画 -->
        <activity
            android:name=".ui.activity.DoubanMovieDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 豆瓣的书籍信息点击详情页 -->
        <activity
            android:name=".ui.activity.DoubanBookDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 公共的 WebView 界面 -->
        <activity
            android:name=".ui.activity.CommonWebViewActivity"
            android:screenOrientation="portrait" />

        <!-- 个人主页 -->
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait" />

        <!-- 优秀的项目列表活动 -->
        <activity
            android:name=".ui.activity.ExcellentProjectListActivity"
            android:screenOrientation="portrait" />

        <!-- 滑动头部和折叠的有关页面 -->

        <!-- 蒲公英的 sdk 引入 start -->
        <provider
            android:name="com.pgyersdk.PgyerProvider"
            android:authorities="${applicationId}.com.pgyer.provider"
            android:exported="false" />

        <meta-data
            android:name="PGYER_APPID"
            android:value="eef566fce6ff5df19a67b8b3a965b403" />
        <!-- 蒲公英的 sdk 引入 end -->

        <!-- 专用于测试的 Activity start -->
        <!--<activity-->
        <!--android:name=".test.TestActivity"-->
        <!--android:screenOrientation="portrait" />-->

        <!--<activity-->
        <!--android:name=".test.TestOneActivity"-->
        <!--android:screenOrientation="portrait" />-->

        <!--<activity-->
        <!--android:name=".test.TestTabItem"-->
        <!--android:screenOrientation="portrait" />-->
        <!-- 专用于测试的 Activity end -->
    </application>
</manifest>